body {
	background: black;
}
* {

	min-height: 10px;
}

.postcard {
	width: 400px;
	height: 300px;
	margin: auto;
	background: rgb(242, 245, 242);
}
.postcard-header {
	display: flex;
	justify-content: ;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 1px grey;
}
.postcard-footer {
	text-align: center;
}
button {
	text-align: center;
	background-color: rgb(8, 206, 241);
	padding: 5px 10px;
}

.body-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
